<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gxhunter.tourism.system.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="cn.gxhunter.tourism.common.entity.SysRole">
    <!--@mbg.generated-->
    <!--@Table sys_role-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="INTEGER" property="createrId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="editer_id" jdbcType="INTEGER" property="editerId" />
    <result column="editer" jdbcType="VARCHAR" property="editer" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, flag, remark, creater_id, creater, create_time, editer_id, editer, 
    edit_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.gxhunter.tourism.common.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role (code, `name`, flag, 
      remark, creater_id, creater, 
      create_time, editer_id, editer, 
      edit_time, is_deleted)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editerId,jdbcType=INTEGER}, #{editer,jdbcType=VARCHAR}, 
      #{editTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.gxhunter.tourism.common.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editerId != null">
        editer_id,
      </if>
      <if test="editer != null">
        editer,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editerId != null">
        #{editerId,jdbcType=INTEGER},
      </if>
      <if test="editer != null">
        #{editer,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gxhunter.tourism.common.entity.SysRole">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editerId != null">
        editer_id = #{editerId,jdbcType=INTEGER},
      </if>
      <if test="editer != null">
        editer = #{editer,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.gxhunter.tourism.common.entity.SysRole">
    <!--@mbg.generated-->
    update sys_role
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editer_id = #{editerId,jdbcType=INTEGER},
      editer = #{editer,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.code,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.flag,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="creater_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createrId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.creater,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="editer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.editerId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="editer = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.editer,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="edit_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.editTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.isDeleted,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.code != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.flag != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.flag,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="creater_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createrId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createrId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.creater != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.creater,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="editer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.editerId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.editerId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="editer = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.editer != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.editer,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="edit_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.editTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.editTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.isDeleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    (code, `name`, flag, remark, creater_id, creater, create_time, editer_id, editer, 
      edit_time, is_deleted)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.flag,jdbcType=VARCHAR}, 
        #{item.remark,jdbcType=VARCHAR}, #{item.createrId,jdbcType=INTEGER}, #{item.creater,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.editerId,jdbcType=INTEGER}, #{item.editer,jdbcType=VARCHAR}, 
        #{item.editTime,jdbcType=TIMESTAMP}, #{item.isDeleted,jdbcType=TINYINT})
    </foreach>
  </insert>

  <!-- 根据角色名称模糊分页查询 -->
  <select id="selectByRange" resultMap="BaseResultMap">
    select r.*
    from sys_role r
    <where>
      and r.is_deleted = 0
      <if test="name != null ">
        and r.name like CONCAT('%',#{name},'%')
      </if>
    </where>
    <!--范围参数-->
    limit #{skip},#{size}
  </select>

  <!-- 分页查询对应记录总数 -->
  <select id="count" resultType="java.lang.Integer">
    select count(*)
    from sys_role r
    <where>
      and r.is_deleted = 0
      <if test="name != null ">
        and r.name like CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>

</mapper>